@import '~@pnp-revin/utils/dist/assets/scss/variables.module';

.wrapper {
  & :global(.modal-content) {
    & > :global(.scrollbar-container) {
      height: calc(100vh - 23.5rem);
      padding: 4rem 3.5rem;
    }

    & :global(.MuiFormControl-root) {
      background-color: $light;
    }

    & .designation {
      color: $textDark;
      font-size: $textDefault;
      font-weight: $fontMedium !important;
      line-height: 1;
      padding: 2rem 4rem 3rem;
      text-transform: uppercase;

      & small {
        color: $textGrey;
        display: block;
        font-size: $textDefault !important;
        font-weight: $fontRegular;
        margin-top: 0.5rem;
        text-transform: capitalize !important;
      }

      & :global(.MuiSvgIcon-root) {
        color: $statusFour;
        height: 2rem;
        margin-right: 1rem;
        width: auto;
      }
    }

    & .designation-wrap {
      border-bottom: 1px solid $secondary;
      margin: 0 -4rem;

      & h4 {
        font-weight: $fontRegular !important;
        margin-top: 0.5rem;
      }
      
      &.remove-border {
        border-bottom: none;
      }

      & .bar-space {
        margin-inline: 0.5rem;
        color:  rgba($textGrey, 0.5);
      }
    }

    & .form-wrapper {
      & h4,
      & .counter-label {
        color: $textDark;
        font-size: $textDefault;
        font-weight: $fontMedium !important;
      }
    }

    & .textbox-disabled {
      opacity: 0.65;
      pointer-events: none;
    }
  }

  & .project-info {
    background-color: rgba($secondary, 0.5);
    padding: 3rem;
    border-radius: 1rem;

    & .card-title {
      color: $textDark;
      margin-bottom: 2rem;
      font-weight: $fontMedium !important;
    }

    & .value {
      & h4 {
        font-size: $textSpecial;
        color: $textDark;
        margin-bottom: 0.5rem;
      }

      & p {
        color: $textGrey;
      }
    }

    & .project-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  & .confirmation-message {
    text-align: center;

    & .confirmation-title {
      color: $dark;
      font-size: $textExtraLarge;
      margin-bottom: 1.5rem;
    }

    & .confirmation-desc {
      color: $textGrey;
    }

    & .rounded-icon {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto 2.5rem;

      & svg {
        color: $dark;
        height: 4rem !important;
        width: 4rem !important;

        & circle {
          display: none;
        }
      }
    }
  }

  & .info-text {
    border-bottom: 1px solid $secondary;
    color: $textDark;
    font-size: $textDefault;
    font-weight: $fontMedium !important;
    margin: -2rem -4rem 0;
    padding: 2rem 4rem;
  }
}
