@import '~@pnp-revin/utils/dist/assets/scss/variables.module';

.wrapper {
  display: flex;
  gap: 5rem;

  & .title {
    cursor: pointer;
    transition: all ease-in-out 0.75s;

    & svg {
      margin-right: 1rem;
    }

    &:hover {
      color: $textPrimary;
    }
  }

  & .holidays-date {
    width: 30%;
  }

  & .holidays-table {
    width: 70%;

    & header {
      background-color: rgba($secondary, 0.5);
      border-radius: 1rem 1rem 0 0;
      color: $textPrimary;
      width: 100%;

      & .column {
        padding: 1.5rem 3rem;
        width: 50%;

        &:last-child {
          border-left: 1px solid rgba($secondary, 0.5);
        }
      }
    }

    & .body {
      background-color: $light;
      border-radius: 0 0 1rem 1rem;

      & .column {
        max-height: 49rem;
        overflow: auto;
        padding: 1.5rem 3rem;
        width: 50%;

        &:last-child {
          border-left: 1px solid rgba($secondary, 0.5);
        }

        & .label {
          color: $statusFour;
          font-weight: $fontMedium !important;
          margin-bottom: 1.5rem;
        }

        & ul {
          & .holiday {
            display: flex;
            line-height: 1.4;
            margin: 0.75rem 0;

            & li {
              color: $textDark;

              & .format-date {
                display: inline-block;
                min-width: 9rem;
              }
            }

            & .cross-icon {
              & svg {
                color: $statusOne;
                cursor: pointer;
                height: 2rem;
                margin-left: 1rem;
                width: 2rem;
              }
            }
          }
        }

        & .empty-message {
          color: $textGrey;
          margin: auto;
          max-width: 50%;
          text-align: center;
        }
      }
    }
  }
}
