@import '~@pnp-revin/utils/dist/assets/scss/variables.module';

.wrapper {
  table {
    margin-bottom: 1rem;

    & :global(.row-sub-name-parent) {
      color: $textDark;
      font-size: 1.4rem;
    }

    & :global(.row-designation-child) {
      margin-right: 0.5rem;
      max-width: 22rem;
    }

    & :global(.role-info-icon) {
      & :global(svg) {
        margin: 0;
      }
    }

    & :global(.copy-right-icon) {
      & :global(svg) {
        color: $statusFour;
        margin-left: 0;
      }
    }

    & :global(.title-row-wrap) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .cell-title {
        display: flex;
        gap: 0.5rem;

        &.new-resource .row-designation-child {
          color: $statusFour;
        }

        &.new-role .row-designation-child {
          color: $statusTwo;
        }
      }
    }

    & :global(.cell .title-row-wrap .cell-title) {
      display: flex;
      gap: 0.5rem;

      &:global(.new-resource) {
        & :global(.row-designation-child) {
          color: $statusTwo;
        }
      }

      &:global(.new-role) {
        & :global(.row-designation-child) {
          color: $statusFour;
        }
      }
    }

    & :global(.cell-title) {
      align-items: center;
      display: flex;
      gap: 0.5rem;
    }
  }

  & :global(.data-grid-container .data-grid .cell .title-row-wrap),
  & :global(.data-grid-container .data-grid.data-sheet .table-view-thead ~ tbody .row-gap-space .title-role > div) {
    padding-left: 5rem;
  }

  & :global(.data-row:not(.row-gap-space)) {
    border-bottom: 4px solid $borderDefault;
  }

  & :global(.data-grid-container .data-grid.data-sheet .table-view-thead ~ tbody .row-gap-space td),
  & :global(.data-grid-container .data-grid.data-sheet .table-view-thead ~ tbody .row-gap-space td > div),
  & :global(.data-grid-container .data-grid.data-sheet .table-view-thead ~ tbody .row-gap-space td > span) {
    padding: 0;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  & :global(.ps__rail-x) {
    z-index: 2;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  & :global(.ps__rail-y) {
    z-index: 4;
  }

  * :global(.table-view-thead) {
    position: sticky;
    top: 0;
    z-index: 4;
  }

  & .expand-button {
    & svg {
      stroke-width: 1.5;
      transition: all 0.2s ease-in-out;

      &:hover {
        stroke-width: 1;
        transform: scale(1.2);
      }
    }

    &.expanded {
      & svg {
        transform: scale(1.2);

        &:hover {
          stroke-width: 2;
          transform: scale(1);
        }
      }
    }
  }

  & .header-wrapper {
    position: sticky;
    top: 0;
  }

  :global(.non-billable) {
    & :global(.value-viewer) {
      color: $textDark !important;
    }
  }

  :global(.cell-cost) {
    & :global(.value-viewer) {
      color: $textDark !important;
    }
  }

  .no-opportunity-card {
    background-color: $light;
    border-radius: 1rem;
    margin-top: 3rem;
    padding: 20rem 0;
  }
}
